<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.locosoft.cascadia.core.conflux" name="Cascadia Conflux" schema="schema/net.locosoft.cascadia.core.conflux.exsd"/>
   <extension
         point="net.locosoft.cascadia.core.conflux">
      <Conflux
            id="core"
            implementation="net.locosoft.cascadia.core.internal.conflux.CoreConflux">
      </Conflux>
   </extension>

</plugin>
