<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.locosoft.cascadia.core.Conflux">
      <Conflux
            id="AllPoetry"
            implementation="net.locosoft.cascadia.conflux.AllPoetry.internal.AllPoetryConflux">
      </Conflux>
   </extension>

</plugin>
