<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.locosoft.cascadia.core.conflux">
      <Conflux
            id="TensorFlow"
            implementation="net.locosoft.cascadia.conflux.TensorFlow.internal.TensorFlowConflux">
      </Conflux>
   </extension>

</plugin>
