<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.locosoft.cascadia.core.Conflux">
      <Conflux
            id="vitals"
            implementation="net.locosoft.cascadia.conflux.vitals.internal.VitalsConflux">
      </Conflux>
   </extension>

</plugin>
